@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');


body {
  font-family: 'Chivo Mono', monospace !important;  
  padding: 2rem;
}
html, body {
  overflow-x: hidden !important;
}

.shadowing{
  text-shadow: 0 0 13px #3c3c3c;
}

// Progress-bar component 
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 9px;
  background: rgb(255, 255, 255) !important;
  transform-origin: 0%;
}


// .container{
//   // border: 1px solid red;
//   width: 100%;
// }

.container-x {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;  
}

.carousel div {
  transform-style: preserve-3d;
}

.item-x {
  display: block;
  position: absolute;
  // background: #000;
  width: 100%;
  height: 400px;
  font-size: 6em;
  text-align: center;
  color: #FFF;
  opacity: 0.97;
  border-radius: 20px;
  transition: transform 1s;  
}

.a {
  transform: rotateY(0deg) translateZ(250px) rotateY(0deg);
}

.a .item-x {
  width: 100%;
  height: 400px;  
  background: transparent;
  object-fit: cover;  
}

.b {
  transform: rotateY(90deg) translateZ(250px) rotateY(-90deg);
}

.b .item-x {
  width: 100%;
  height: 400px;  
  background: transparent;
  object-fit: cover;
}

.c {
  transform: rotateY(180deg) translateZ(250px) rotateY(-180deg);
}

.c .item-x {
  width: 100%;
  height: 400px;  
  background: transparent;
  object-fit: cover;
}

.d {
  transform: rotateY(270deg) translateZ(250px) rotateY(-270deg);
}

.d .item-x {
  width: 100%;
  height: 400px;  
  background: transparent;
  object-fit: cover;
}

// .next,
// .prev {
//   color: #444;
//   top: 100px;
//   padding: 1em 2em;
//   cursor: pointer;
//   background: #CCC;
//   border-radius: 5px;
//   border-top: 1px solid #FFF;
//   box-shadow: 0 5px 0 #999;
//   transition: box-shadow 0.1s, top 0.1s;
// }

// .next:hover,
// .prev:hover {
//   color: #000;
// }

// .next:active,
// .prev:active {
//   top: 104px;
//   box-shadow: 0 1px 0 #999;
// }

// .next {
//   right: 5em;
// }

// .prev {
//   left: 5em;
// }


.btn-circle {
  width: 60px;
  height: 60px;
  padding: 10px;
  font-size: 30px;
  // line-height: 1.33;
  border-radius: 50px;
}
.buttons-0{
  color: #464646;
  background: #fff;
  transition: 0.5s;
}
.buttons-1{
  color: #fff;
  background-color: #39ceb0;
  transition: 0.5s;
}
.buttons-2{
  color: #fff;
  background-color: #780193;  
  transition: 0.5s;
}
.buttons-3{
  color: #fff;
  background-color: #00d4efde;  
  transition: 0.5s;
}


.btn-round {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: red;
  color: white;
  border: none;
  outline: none;
}

/* Container holding the image and the text */
.co {
  // position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}




.sectionn{
  // border: 1px solid red;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  // box-shadow: 0 0.8rem 1rem hsl(220, 7.32%, 91.96%);
  transition: 1s;
}


.cards-text{
  font-size: large;  
  line-height: 0 ;
  width: 100% ;
  margin-top: 50px ;
}
.legend-platform-text{
  @extend .cards-text;
  background-color: #000 ;
}
.formation-text{
  @extend .cards-text;
}
.experience-text{
  @extend .cards-text;
}
.contact-text{
  @extend .cards-text;
}


.layer {
  position: absolute; /* para posicionar los elementos dentro de .parallax */
  width: 100%; /* ancho al 100% para que ocupen toda la sección */
  height: 100%; /* altura al 100% para que ocupen toda la sección */
  background-size: cover; /* para que la imagen de fondo se ajuste al tamaño del elemento */
}

.layer1 {
  transform: translateY(-50px); /* movimiento hacia arriba */
  // animation: parallax1 10s linear infinite; /* animación de movimiento */

  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.layer2 {
  transform: translateY(100px); /* movimiento hacia arriba */
  animation: parallax2 5s linear infinite; /* animación de movimiento */

  animation-direction: alternate;
  animation-iteration-count: infinite;    
}

.layer3 {
  transform: translateY(-150px); /* movimiento hacia arriba */
  animation: parallax3 10s linear infinite; /* animación de movimiento */

  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.layer4 {
  transform: translateY(-200px); /* movimiento hacia arriba */
  animation: parallax4 10s linear infinite; /* animación de movimiento */

  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/* Animaciones de movimiento */
@keyframes parallax1 {
  0% { transform: translateY(-40px); }
  100% { transform: translateY(40px); }
}

@keyframes parallax2 {
  0% { transform: translateY(50px);  }
  100% { transform: translateY(-50px); }
}

@keyframes parallax3 {
  0% { transform: translateY(-40px);  }
  100% { transform: translateY(40px); }
}

@keyframes parallax4 {
  0% { transform: translateY(-60px); }
  100% { transform: translateY(60px); }
}



.icon-item > div {
  transition: 1s;
}
.icon-item > div * {
  transition: 1s;
}

.icon-item:hover > div > i{
  box-shadow: 0 0 0 0.2rem #fff;
  transition: 1s;
}
.icon-item:hover > div > div > span {
  font-size: 1.5rem !important;
  transition: 1s;
}
.icon-item:hover > div > div > p {
  font-size: 1.5rem !important;
  transition: 1s;
}


.education-logo{
  width: 100% !important;
  height: 7rem;
  object-fit: contain;
  // border: 1px solid red;
}

.technology-logo{
  width: 100% !important;
  height: 10rem;
  object-fit: contain;
}



.card-project {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.card-project .parallax-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateZ(0);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.card-project .parallax-effect:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.8) 100%);
  opacity: 0;
  transition: opacity 0.4s;
}

.card-project:hover .parallax-effect:before {
  opacity: 1;
}








// RobotViewer section
model-viewer {
  --progress-bar-color: transparent;  
}
.robot-container{
  height: 300px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.robot{
  background-color: transparent !important;
  width: 180px;
  height: 180px;
  top: -10px;
}
.robot-small{
  background-color: transparent !important;
  width: 160px;
  height: 160px;
  top: -10px;
}
.robot-selected{
  scale: 0.9;
  transition: all 0.4s ease-in-out;
}

.horizontal-scroll-container-of-small-robots {
  max-width: 100vw;
  overflow-x: scroll;
  position: relative;
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

.horizontal-scroll-container-of-small-robots::-webkit-scrollbar {
height: 7px;    
}  

.horizontal-scroll-container-of-small-robots::-webkit-scrollbar-thumb {
background-color: rgb(159, 107, 250);
border-radius: 10px;
}

.horizontal-row-robots {
display: flex;
}

// Fullscreen Robotpreview section
.robot-preview-fullscreen-modal {
  padding-top: 10px !important;    
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.552);    
}
.robot-preview-container-fullscreen{
  width: 100%;
  height: 100%;
}
.robot-preview-container-content {    
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;    

  width: 100%;
  height: 99%;
  border-color: #d2a3ff;
  border-style: double;
  border-radius: 10px;
}
.robot-preview-close-btn {
  color: #fff;
  background-color: transparent;
  float: right;
  font-size: 28px;
  font-weight: bold;    
  padding-right: 20px;
  z-index: 100;
}

.robot-preview-close-btn:hover,
.robot-preview-close-btn:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.fullscreen-icon{
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: -10px;
  padding: 5px;
  z-index: 100;
  text-shadow: 0px 0px 10px #000;    
}








.ac-img{
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}

.ac-img:hover {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}